// COLORI 
$colorBody : #1E2D3B;
$colorGreen : rgb(16, 170, 24);
$colorBlack : rgb(46, 58, 70);
$colorWhite : white;
$colorGrey : grey;

// MISURE 
$headerFooterSize : 70px;
$px_10 : 10px;
$px_50 : 50px;
$px_100 : 100px;